.BookGridItem {
  height: 200px;
  width: 150px;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: linear 300ms box-shadow;
}

.BookGridItem:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.BookGridItem-top-section {
  position: relative;
}

.BookGridItem-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding: 0 5px;
}

.BookGridItem-cover {
  height: 160px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.BookGridItem-title {
  position: absolute;
  bottom: 3px;
  width: 100%;
  padding: 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  font-size: 14px;
}
