.BookDetailsPopup-gutter {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.BookDetailsPopup-container {
  height: 70%;
  width: 70%;
  position: relative;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}

.BookDetailsPopup-close-button {
  position: absolute;
  right: 0;
  padding: 5px;
  cursor: pointer;
}

.BookDetailsPopup-content {
  display: flex;
  height: 100%;
}

.BookDetailsPopup-cover {
  height: 100%;
  object-fit: contain;
  object-position: left;
}

.BookDetailsPopup-info {
  padding: 20px;
}

.BookDetailsPopup-title {
  font-size: 24px;
}

.BookDetailsPopup-author {
  margin-top: 5px;
  color: #aaa;
}
