.SideNav {
  flex: 0 0 200px;
  border-right: 1px solid #ccc;
}

.SideNav-item {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: linear 300ms background-color;
}

.SideNav-item:hover {
  background-color: #efefef;
}

.SideNav-item-selected {
  background-color: #efefef;
}
